
<style>
  body {
    background-image: url('https://img2.wallspic.com/previews/7/9/6/0/5/150697/150697-arte-diseno_grafico-ilustracion-dios_de_la_guerra-dios_de_la_guerra_ii-x750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
</style>

